<% include partials/header%>

<div id="b1" class="ui main text container">
    <div  class="ui huge header"> Blog App</div>
    <div id="b2" class="ui top attached segment">
        <div class="ui divided items ">
            <% blogs.forEach(function(b){ %>
                <div class="items">
                    <div class="image"><img src="<%= b.image %>"></div>
                    <div class="content">
                        <a id="b3"class="header" href="/blogs/<%= b._id%>"><%= b.title %> </a>
                        <div class="meta">
                             
                           <span><%=b.created.toDateString() %></span>
                        </div>
                        <div class="description"><p><%- b.body.substring(0,70) %></p>......Click Read More</div>
                        <div  id="b4"class="extras"> <a id="aa" class="ui  basic pink inverted button" href="/blogs/<%= b._id%>">
                            Read More
                            <i class="right chevron icon"></i>
                         </a>
                        
                    </div>
                </div>
               <% }); %> 
        </div>
    </div>
</div>
  

 <% include partials/footer%>